# SPDX-FileCopyrightText: © 2023 abdelrahmanjamal5565@gmail.com
#
# SPDX-License-Identifier: LGPL-2.1-only
# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html

recursive-include src/safaa/models *
recursive-include src/safaa/configs *
